<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="Service.ChargingService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000" />
					</baseAddresses>
				</host>
				<endpoint
				  address="ChargingService"
				  binding="netTcpBinding"
				  bindingConfiguration="ChargingBinding"
				  contract="Common.IChargingService" />
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="ChargingBinding"
						 maxReceivedMessageSize="10485760"
						 transferMode="Streamed"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>

	</system.serviceModel>
	<appSettings>
		<add key="RealPowerMaxThreshold" value="5000"/>
		<add key="EnergyStalledRows" value="12"/>
		<add key="FrequencyNominal" value="60"/>
		<add key="FrequencyDeviationMax" value="0.6"/>
		<add key="FrequencySpikeMax" value="1.0"/>
	</appSettings>
</configuration>